.main-full {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  padding-right: 0px;
}

.store-container {
  display: flex;
  justify-content: space-evenly;
}

.store-card {
  margin-top: 10px;
}